aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-doc
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
asyncio
attrs
babel
beautifulsoup4
bleach
blinker
boto3
botocore
bs4
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
comtypes
contourpy
cryptography
cycler
debugpy
decorator
deep-translator
defusedxml
Django
django-cors-headers
django-jazzmin
djangorestframework
djangorestframework_simplejwt
docopt
docutils
elevenlabs
et_xmlfile
executing
fastapi
fastjsonschema
filelock
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
fonttools
fqdn
frozenlist
fsspec
greenlet
gTTS
gunicorn
h11
hf-xet
holehe
html2text
httpcore
httpx
huggingface_hub
idna
ImageIO
imageio-ffmpeg
ipykernel
ipython
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
jmespath
joblib
jq
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lab
lxml
lxml_html_clean
Mako
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
moviepy
mpmath
multidict
mysql-connector-python
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
networkx
node
notebook
notebook_shim
num2words
numpy
odict
opencv-python
openpyxl
outcome
overrides
packaging
pandas
pandocfilters
parso
passlib
pdf2image
phonenumbers
pillow
platformdirs
plumber
polib
proglog
prometheus_client
prompt_toolkit
propcache
psutil
psycopg2
psycopg2-binary
pure_eval
pycparser
pydantic
pydantic_core
pydub
Pygments
PyJWT
PyMySQL
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypiwin32
python-dateutil
python-decouple
python-dotenv
python-json-logger
pyttsx3
pytube
pytz
pywin32
pywinpty
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rjsmin
rpds-py
s3transfer
safetensors
scikit-learn
scipy
seaborn
Send2Trash
sentence-transformers
setuptools
shellingham
simplejson
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
sympy
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
trio
txt2tags
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
uvicorn
vobject
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
whisper
widgetsnbextension
xlrd
yarl
zeep
zope.component
zope.deferredimport
zope.deprecation
zope.event
zope.hookable
zope.interface
zope.lifecycleevent
zope.proxy
